.loading{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 15px solid lightgrey;
    border-top: 15px solid blueviolet;
    animation: rotate 1s linear infinite;
    margin: auto;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}